.create-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;

}
.back-btn{
    position: fixed;
    top: 30px;
    left: 50px;
    display: flex;
    align-items: flex-start;
}